/* Mobile & tablet */
@media (max-width: 1023px) {
  :root {
    --header-height: 54px;
    --navbar-height: 0px;
  }

  .hide-on-mobile-tablet {
    display: none;
  }

  .header {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
  }

  .header__cart-list {
    position: fixed;
    top: var(--header-height);
    right: 0;
    width: 100%;
    padding: 0 calc((100% - 644px) / 2);
  }

  .header__cart-list::after {
    display: none;
  }

  .header__cart-wrap {
    -webkit-tap-highlight-color: transparent;
  }

  .header__search-select {
    -webkit-tap-highlight-color: transparent;
  }

  .header__search-btn {
    -webkit-tap-highlight-color: transparent;
  }

  .header-sort-bar {
    display: flex;
  }

  .header-sort__item--active .header-sort__link {
    border-bottom: 2px solid var(--main-color);
  }

  .mobile-category {
    display: block;
  }

  .app__container {
    margin-top: calc(var(--header-height) + var(--header-sort-bar-height));
  }

  .app__content {
    padding-top: 8px;
  }
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
  .hide-on-tablet {
    display: none;
  }

  .header__cart {
    width: 80px;
    text-align: right;
  }
}

/* Mobile */
@media (max-width: 739px) {
  .hide-on-mobile {
    display: none;
  }

  .header-with-search {
    justify-content: space-between;
  }

  .header__cart,
  .header__logo {
    width: unset;
  }

  .header__search {
    position: fixed;
    top: var(--header-height);
    right: 0;
    left: 0;
    height: 46px;
    z-index: 1;
    box-shadow: 0 2px 2px rgb(0 0 0 / 5%);
    padding: 0 12px;
    animation: searchmobileSideIn ease-in 0.25s;
    display: none;
  }

  .header__search-history {
    position: fixed;
    top: calc(var(--header-height) + var(--header-sort-bar-height));
    left: 0;
    right: 0;
    width: 100%;
  }

  .header__search-checkbox:checked ~ .header__search {
    display: flex;
  }
  @keyframes searchmobileSideIn {
    from {
      opacity: 0;
      transform: translatex(-100%);
    }
    to {
      opacity: 1;
      transform: translatex(0);
    }
  }

  .header__logo-img {
    width: 120px;
  }

  .header-mobile-menu {
    display: inline-block;
  }

  .header-mobile-search {
    display: inline-block;
  }

  .menu-checkbox:checked ~ .menu__mobile-overlay {
    display: block;
  }

  .menu-checkbox:checked ~ .menu__mobile {
    transform: translateX(0);
    opacity: 1;
  }

  .app__content {
    margin: 0 4px;
    padding-top: 8px;
  }

  .pagination-item__link {
    min-width: 36px;
    font-size: 1.6rem;
    margin: 0;
  }

  .footer__content {
    padding: 0 16px;
  }

  .footer__heading {
    text-align: center;
  }

  .footer__download,
  .footer__list-item--link {
    justify-content: center;
  }

  .footer__download-apps {
    flex: unset;
  }

  .footer__pay {
    display: flex;
    justify-content: center;
  }
}
